<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souls of Stockholm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="templates/style.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

     <div class="container mt-5">
        <h1>Документация</h1>

        <h2>Log in API (аутентификация с помощью JWT)</h2>
        <ul>
            <li>
                POST - запрос
            </li>
            <li>
                Запрос делается по адресу <code>https://souls-of-stockholm.onrender.com/api/login</code>
            </li>
            <li>
                В теле запроса идет следующий словарь
            </li>
            <li>
                <pre>
{
    "API_Key": "JWT ключ",
    "user_id": TG ID
}
                </pre>
            </li>
            <li>
                Можно получить 2 вида словаря
            </li>
            <ul>
                <li>Успех </li>
                <ul>
                    <li>
                        <pre>
{
    "answer": "Проверка прошла успешно телеграмм успешно привязан к аккаунту",
    "status_code": "authorized"
}
                        </pre>
                </li>
                </ul>
                <li>
                    Провал
                </li>
                <ul>
                    <li>
                        <pre>
{
    "answer": "Проверка провалена, телеграм не привязан к аккаунту",
    "status_code": "not authorized"
}
                        </pre>
                </li>
                </ul>
            </ul>

        </ul>

        <h2>Log in API (аутентификация с помощью логина и пароля)</h2>

        <ul>
            <li>POST - запрос</li>
            <li>
                Запрос делается по адресу <code> https://souls-of-stockholm.onrender.com/a_api/login </code>
            </li>
            <li>
                В теле запроса данные в следующем формате
            </li>
            <li>
                <pre>
{
    "login": "login",
    "password": "passwd"
}
                </pre>
            </li>
            <li>
                Можно получить 3 вида словаря
            </li>
            <ul>
                <li>Успех</li>
                <ul>
                    <li>
                        <pre>
{
    "jwt": "Тут будет JWT ключ",
    "login": "success"
}
                        </pre>
                    </li>
                </ul>
                <li>
                    Провал(не правильный логин)
                </li>
                <ul>
                    <li>
                        <pre>
{
    "login": "There is no such login"
}
                        </pre>
                    </li>
                </ul>
                <li>Не правильный пароль</li>
                <ul>
                    <li>
                        <pre>
{
    "login": "Incorrect login or password"
}
                        </pre>
                    </li>
                </ul>
            </ul>
        </ul>
         <h2>Posts API - получение данных всех постов</h2>

        <ul>
            <li>GET - запрос</li>
            <li>
                Запрос делается по адресу <code> https://souls-of-stockholm.onrender.com/<jwt>/posts</code>
            </li>
            <li>
                Вместо <jwt> - тот ключ который принадлежит юзеру
            </li>
            <li>
                В теле запроса ничего нет
            </li>
            <li>
                Варианты ответа
            </li>
            <ul>
                <li>Успех</li>
                <ul>
                    <li>
                        <pre>
[
    [
        1,
        1,
        "katana",
        "ЧвК Редан?О_О ryodan??",
        "Название: Геней Рёдан etc.
    ],
    [
        2,
        1,
        "katana",
        "ZXC???",
        "100-7???????"
    ]
]
                        </pre>
                    </li>
                </ul>
                <li>
                    Провал
                </li>
                <ul>
                    <li>
                        <pre>
{
    "denied": "Отказано в доступе"
}
                        </pre>
                    </li>
                </ul>
            </ul>
        </ul>
         <h2>One post API - получение данных конкретного поста</h2>

        <ul>
            <li>GET - запрос</li>
            <li>
                Запрос делается по адресу <code> https://souls-of-stockholm.onrender.com/<jwt>/posts/<post_id> </code>
            </li>
            <li>
                Вместо <jwt> - тот ключ который принадлежит юзеру
            </li>
            <li>
                Вместо <post_id> - конкретный id поста
            </li>
            <li>
                Варианты ответа
            </li>
            <ul>
                <li>Успех</li>
                <ul>
                    <li>
                        <pre>
{
    "comment": [
        [
            1,
            1,
            2,
            "rukati",
            "Очень крутой пост спасибо большое"
        ]
    ],
    "post_data": [
        [
            1,
            1,
            "katana",
            "ЧвК Редан?О_О ryodan??",
            "Название: Геней Рёдан/Призрачная Труппа etc
        ]
    ]
}
                        </pre>
                    </li>
                </ul>
                <li>
                    Несуществующий пост
                </li>
                <ul>
                    <li>
                        <pre>
{
    "denied": "Такого поста нет"
}
                        </pre>
                    </li>
                </ul>
            </ul>
        </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
