<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пост</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Дополнительные стили для красно-черных тона -->
    <style>
        body {
            background-image: url(../templates/images/main_bg.jpg);
            background-attachment: fixed;
            background-repeat: round;
            background-color: #303030; /* Красный фон */
            color: #848484; /* Черный текст */
        }
        .navbar {
            background-color: #000000; /* Черный фон для навигационной панели */
        }
    </style>
</head>
<body>
     {% include 'header.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
    {% endif %}
{% endwith %}
    <!-- Основное содержание страницы -->
    <div class="container mt-4">
        <!-- Здесь вы можете использовать параметры запроса (например, ID поста) для получения и отображения нужного поста -->
        <h1>{{ post[3] }}</h1>
        <h6>
            <a href="/profile/{{ cu['id']}}">{{ post[2] }}</a>
        </h6>
        <h5>{{ post[4] }}</h5>

            <h2>Комментарии</h2>


        <!-- Список комментариев -->
        <div class="mt-4">
            <h3>Список комментариев:</h3>
            <ul style="color: orangered; font-size: 24px;">
                <!-- Здесь вы можете вставить цикл, чтобы отобразить список комментариев к посту -->
                {% for c in comments %}
                    <dl>
                      <dt>{{c[4]}}</dt>
                      <dd>
                          <a href="/profile/{{ c[2] }}">{{ c[3] }}</a>
                      </dd>
                    </dl>
                {% endfor %}
                <!-- Добавьте больше комментариев по аналогии -->
            </ul>
            <form action="/post/{{ post[0] }}/comment" method="post">
            <div class="form-group">
                <label for="comment">Добавить комментарий:</label>
                <textarea class="form-control" id="comment" name="comment" rows="4" style="background-color: black" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Опубликовать комментарий</button>
        </form>


    <!-- Подключение Bootstrap JS и jQuery (необходимо для некоторых компонентов Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
