<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souls of Stockholm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <link href="templates/style.css" rel="stylesheet">
</head>
{% include 'header.html' %}
<body>

    <div class="container mt-4">
        <h1>Добро пожаловать на Souls of Stockholm </h1>
        <p>Здесь вы можете обсудить различные темы </p>
    </div>
        <h2>Список пользователей</h2>
    <table class="table table-striped tb1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <th>{{ u[0] }}</th>
                <th>{{ u[1] }}</th>
                <th>
                    <a href="/profile/{{ u[0] }}">Профиль</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
