<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souls of Stockholm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../templates/posts/style.css" rel="stylesheet">
</head>
{% include 'header.html' %}
<body>
    <div class="form-container">
        <h1 >Создание нового поста</h1>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Название поста</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Название поста">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Содержание поста</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary submit-btn">Отправить</button>
        </form>
    </div>
</body>
</html>
