<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souls of Stockholm</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../templates/posts/style.css" rel="stylesheet">
</head>
{% include 'header.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
    {% endif %}
{% endwith %}
<body>
    <div class="form-container">
        <h1 >Создание нового поста</h1>
        <form action="/post/create/" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Название поста</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Название поста" required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Содержание поста</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary submit-btn">Отправить</button>
        </form>
    </div>
</body>
</html>
